/* firefox */
.tasks__container {
  scrollbar-width: 10px;
  scrollbar-color: #f1f5f9 #94a3b8;
}

/* chrome, edge, safari */
.tasks__container::-webkit-scrollbar {
  width: 15px;
}

.tasks__container::-webkit-scrollbar-track {
  width: 10px;
  background: #f1f5f9;
  border-radius: 5px;
}

.tasks__container::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #94a3b8;
  border-radius: 14px;
  border: 3px solid #f1f5f9;
}

input:focus {
  border-radius: 0;
  outline-color: #60a5fa;
}

.process-bar span::after {
  content: '';
  position: absolute; right: 0; bottom: 0; top: 0;
  margin: auto;
  width: 8px; height: 8px;
  border-radius: 10px;
}
.process-bar--business span::after {
  background-color: #f87171;
}
.process-bar--personal span::after {
  background-color: #60a5fa;
}
.task--checked label span {
  color: grey;
  font-size: 14px;
}
.task--checked p {
  color: #777;
  text-decoration: line-through;
}

.checked.taskType--business {
  color: #fff;
  background-color: #f87171;
} 
.checked.taskType--personal {
  color: #fff;
  background-color: #60a5fa;
}